spring:
  application:
    name: demo
  devtools:
    restart:
      enabled: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      api-base-url: https://api.openai.com/v1/chat/completions
      model: gpt-5-nano-2025-08-07
      temperature: 0.3
      max-tokens: 1024

  jpa:
    hibernate:
      ddl-auto: create

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: